<div class="nested-fields">
	<%= f.input :name %>
	<%= f.input :chapter %>
	<%= f.input :module %>
	<%= f.input :hours, :as => :integer %>
	<%= f.input :minutes, :as => :integer %>
	<%= f.input :completed, :as  => :hidden, :input_html => { :value => false }%>
	<%= link_to_remove_association "Remove Part", f %>
</div>