<div class="well well-title">
  <h1><%= @task.name %></h1>

  <h3><%= @task.start_date.to_formatted_s :rfc822 %> - <%= @task.end_date.to_formatted_s :rfc822 %></h3>
</div>

<h3>Parts</h3>
<% @task.parts.each do |part| %>
	<div class="well">
	  <p>
	  	<%= part.chapter %> > <%= part.module %> > <%= part.name %>: <%= pluralize(part.hours * 60 + part.minutes, 'min') %>
	  </p>
	</div>
<% end %>

<%= link_to 'Edit', edit_task_path(@task), class: "btn btn-default btn-sm" %> |
<%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-sm" %>
<br><br>
<%= link_to 'Back', tasks_path, class: "btn btn-default btn-md" %>
